@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root   {
    --cor-primaria:#222831;
    --cor-secundaria:#DFD0B8;
    --cor-tercearia:#948979;
    --cor-hover: #393E46;

    --font-primaria: "Krona One", sans-serif ;
    --font-secundaria:"Montserrat", sans-serif;
    --font-tercearia:"montserrat", sans-serif
}

*   {
    margin: 0;
    padding: 0;
}


body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria)
}
.cabecalho__menu{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu__link  {
   font-family: var(--font-secundaria);
   font-size: 24px;
   font-weight: 600;
   color: var(--cor-secundaria);
   text-decoration: none;

}
.cabecalho__menu    {
    display: flex;
    gap: 80px;    
} 

.titulo-destaque    {
    color: var(--cor-tercearia);
}

.apresentacao   {
    padding: 5% 15% 10% ;
    display: flex;
    align-items: center;
    justify-content:space-between ;
}

.apresentacao__conteudo  {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--font-primaria);
    text-transform: uppercase;
}

.apresentacao__conteudo__texto  {
    font-size: 24px; ;
    font-family: var(--font-secundaria);
}

.apresentacao__links    {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo     {
    font-family:"Krona One", sans-serif;
     font-weight: 400;
     font-size: 24px;
}

.apresentacao__links__link  {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-tercearia);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-primaria);
}

.apresentacao__links__link:hover   {
    background-color: var(--cor-hover);
    font-size: 30px;
}

.icones__link   {
    object-fit: cover;
    width: 20px;
    height: 20px;

}
.minha__foto    {
    width: 460px;
    height: 570px;
    object-fit: cover;
    box-shadow: 0 0 30px var(--cor-tercearia);

}


.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-tercearia);
    text-align: center;
    font-family: var(--font-secundaria) ;
    font-size: 24px;
    font-weight: 400;

}

@media  (max-width: 1200px )    {
    .cabecalho  {
        padding: 6%;
    }

    .cabecalho__menu    {
        justify-content: center;
    }
    
    .apresentacao   {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    
}